
    <div class="row">
        <div id="filas" class="col-6 text-center">
            <div class="">
                <div class="form-floating mb-3">
                    <input appFocus type="number" class="text-md-startr" id="floatingInput" placeholder="  10">
                </div>
                <div class="form-floating">
                    <input type="number" class="text-md-start" id="floatingPassword" placeholder="  20|">
                </div>
            </div>
        </div>
        <div id="vista" class="col-6 ">
            <div appMostrar class="text-center">
                <p class="text-dark"><b><span appColores>Number 1 </span> : 10 <span AppColores>Number 2</span> : 20</b></p>
            </div>
        </div>
    </div>
